<h2>Lista de Alumnos</h2>
<table border="1" cellpadding="8" cellspacing="0" style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr style="background-color: #2d0404; color: white;">
      <th>ID</th>
      <th>Nombre</th>
      <th>Especialidad</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let docente of docentes">
      <td>{{ docente.id }}</td>
      <td>{{ docente.nombre }}</td>
      <td>{{ docente.especialidad }}</td>
      <td>{{ docente.email }}</td>
    </tr>
  </tbody>
</table>
