<div class="container-fluid py-4">

  <!-- TÍTULO -->
  <div class="row">
    <div class="col-12">
      <h2 class="text-uppercase mb-1 titulo-h2">HISTORIAL ACADÉMICO</h2>
      <h5 class="text-muted mb-4 titulo-h5">
        Historial académico del alumno
      </h5>
    </div>
  </div>

<!-- BOTÓN DESCARGAR -->
<div class="text-end mb-3" *ngIf="hayCalificaciones">
  <button class="btn btn-sm btn-outline-primary d-inline-flex align-items-center gap-1"
          (click)="descargarPDF()" [disabled]="cargando">

  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
       fill="currentColor" viewBox="0 0 24 24">
    <path d="M12 16l-5-5h3V3h4v8h3l-5 5z"/>
    <path d="M5 19c-.6 0-1-.4-1-1v-3h2v2h12v-2h2v3c0 .6-.4 1-1 1H5z"/>
  </svg>
  Descargar PDF
</button>
</div>


  <!-- LOADING -->
  <ng-container *ngIf="cargando">
    <app-loading></app-loading>
  </ng-container>

  <!-- LISTA DE CALIFICACIONES -->
  <ng-container *ngIf="!cargando">
    <div *ngIf="calificaciones.calificacionesPorGrado.length; else sinDatos">
      <div *ngFor="let grado of calificaciones.calificacionesPorGrado" class="card mb-4 shadow-lg border-0">
        <div class="card-header text-black">
          <h5 class="mb-0 text-uppercase">{{ grado.grado }}</h5>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-striped table-hover mb-0 align-middle">
              <thead class="text-white">
                <tr>
                  <th>Materia</th>
                  <th>Calificación Final</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let materia of grado.materias; let i = index"
                    [class.row-alternate]="i % 2 === 1">
                  <td>{{ materia.nombreMateria }}</td>
                  <td>{{ formatearCalificacion(materia.promedio) }}</td>

                </tr>
                <tr class="table-warning fw-bold">
                  <td class="text-end">Promedio Final:</td>
                 <td>{{ formatearCalificacion(grado.promedioFinalGrado) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- MENSAJE SI NO HAY DATOS -->
    <ng-template #sinDatos>
      <div class="alert alert-warning text-center mt-4">
        No se encontraron calificaciones registradas para este alumno.
      </div>
    </ng-template>
  </ng-container>

</div>
