<!-- Tarjeta Información Personal -->
<div *ngIf="alumno; else cargando" class="info-personal-card">
  <div class="card-content">
<div class="profile-icon"></div>
    <div class="info-text">
      <h2>Información Personal</h2>
      <p><strong>Nombre:</strong> {{ alumno.nombre }} {{ alumno.apellidos }}</p>
      <p><strong>Email:</strong> {{ alumno.email }}</p>
      <p><strong>Fecha de Nacimiento:</strong> {{ alumno.fechaNacimiento }}</p>
      <p><strong>Sexo:</strong> {{ alumno.sexo }}</p>
      <p><strong>Matrícula:</strong> {{ alumno.matricula }}</p>
      <p><strong>CURP:</strong> {{ alumno.curp }}</p>
      
    </div>
  </div>
</div>

<!-- Tarjeta Inscripción Reciente -->
<div *ngIf="inscripcion; else cargandoInscripcion" class="inscripcion-card">
  <div class="card-content">
    <div class="profile-icon"></div>
    <div class="info-text">
      <h2>Docente a Cargo</h2>
      <p><strong>Nombre:</strong> {{ inscripcion.nombreProfesorCompleto }}</p>
      <p><strong>Teléfono :</strong> {{ inscripcion.telefonoProfesor }}</p>
    </div>
  </div>
</div>

<ng-template #cargando>
  <app-loading></app-loading>
</ng-template>

<ng-template #cargandoInscripcion>
  <app-loading></app-loading>
</ng-template>
