<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="header-section">
        <h2 class="text-uppercase titulo-h2">GRADOS</h2>
        <h5 class="titulo-h5">Grados</h5>
      </div>
    </div>
  </div>

<div class="container">

 <!--  <div class="button-section">
    <button class="btn btn--new" (click)="nuevo()">+ Nuevo</button>
  </div> -->

  <div *ngIf="registros.length === 0" class="no-data">
    <p>No hay grados registrados.</p>
  </div>

  <div class="cards-grid" *ngIf="registros.length > 0">
    <div class="card" *ngFor="let grado of registrosPaginados">
      <h2 class="card__title">{{ grado.nombre }}</h2>
      
      <div class="card__footer">
        <div class="card__status">
          <span class="status-label">Estatus: {{ grado.estatus === 'ACTIVO' ? 'Inactivo' : 'Activo' }}</span>
          <label class="toggle">
            <input 
              type="checkbox" 
              [checked]="grado.estatus === 'ACTIVO'"
              (change)="cambiarEstatus(grado)">
            <span class="toggle__slider"></span>
          </label>
          <span class="status-label">{{ grado.estatus === 'ACTIVO' ? 'Activo' : 'Inactivo' }}</span>
        </div>
        <button class="btn btn--edit" (click)="editar(grado)">EDITAR</button>
      </div>
    </div>
  </div>

  <!-- Paginación -->
  <div class="pagination" *ngIf="totalPaginas > 1">
    <button class="pagination__btn pagination__btn--prev" (click)="cambiarPagina(paginaActual - 1)" [disabled]="paginaActual === 1">‹</button>
    <button
      *ngFor="let p of totalPaginasArray"
      class="pagination__btn"
      [class.pagination__btn--active]="p === paginaActual"
      (click)="cambiarPagina(p)"
    >
      {{ p }}
    </button>
    <button class="pagination__btn pagination__btn--next" (click)="cambiarPagina(paginaActual + 1)" [disabled]="paginaActual === totalPaginas">›</button>
  </div>
</div>

<app-nuevo-grado 
  *ngIf="nuevom" 
  [nuevo]="nuevom" 
  (cerrar)="cerrarmodal($event)">
</app-nuevo-grado>

 <app-editar-grado 
  *ngIf="editarm"
  [editar]="editarm"
  [grado]="gradoSeleccionado"
  (cerrar)="cerrarModalEditar($event)">
</app-editar-grado>
<app-loading></app-loading>
