<header>
  <div class="header-left">
    <span>Panel de Control</span>
    <button class="toggle-button" (click)="toggleSidebar()">☰</button>
  </div>
  <div class="header-right">
    <ng-container *ngIf="usuario; else cargando">
      {{ usuario.nombre + ' ' + usuario.apellidoPaterno + ' ' + usuario.apellidoMaterno }}
    </ng-container>
    <ng-template #cargando>
      Cargando...
    </ng-template>
  </div>
</header>

<div class="layout">
  <nav class="sidebar" *ngIf="sidebarVisible">
    
    <div class="profile-section">
      <img src="assets/img/logoprim.png" alt="Perfil" class="profile-image">
      <ng-container *ngIf="usuario">
        <p class="profile-name">{{ usuario.nombre }} {{ usuario.apellidoPaterno + ' ' + usuario.
        apellidoMaterno }}</p>
        <p class="profile-role">{{ rolUsuario }}</p>
      </ng-container>
      <ng-container *ngIf="!usuario">
        <p class="profile-name">Cargando...</p>
        <p class="profile-role">---</p>
      </ng-container>
    </div>

    <ul>
      <li><a routerLink="inicio" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="datos-personalesdirec" routerLinkActive="active">Perfil</a></li>
      <li><a routerLink="docentes" routerLinkActive="active">Docentes</a></li>
      <li><a routerLink="alumnos" routerLinkActive="active">Alumnos</a></li> 
      <li><a routerLink="grados" routerLinkActive="active">Grados</a></li>
      <li><a routerLink="grupos" routerLinkActive="active">Grupos</a></li>
      <li><a routerLink="campoformativo" routerLinkActive="active">Campos Formativos</a></li>
      <li><a routerLink="asignaciongradogrupo" routerLinkActive="active">Asignacion Grado y Grupo</a></li>
      <li><a routerLink="Tutores" routerLinkActive="active">Tutores</a></li>
      <li><a routerLink="ciclos" routerLinkActive="active">Ciclos Escolares</a></li>
      <li><a routerLink="trimestres" routerLinkActive="active">Trimestres</a></li>
  <li><a routerLink="materias" routerLinkActive="active">Materias</a></li>

      <li><a (click)="logout()">Salir</a></li>
    </ul>
  </nav>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>