
.encabezado {
  background-color: #38021c;
  display: flex;
  
  padding: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: left;
}

.logo-gobierno {
  width: 150px;
  height: 100px;
  margin-right: 15px; /* Espacio entre los logos */
}

.logo-escuela {
  width: 100px;
  height: 100px;
  margin-right: 0px; /* Espacio entre el último logo y el texto */
}

.titulos-container {
  display: flex;
  flex-direction: column; /* Apila los párrafos verticalmente */
  align-items: flex-start; /* Alinea los textos a la izquierda entre ellos */
}

.regac {
  font-weight: bold;
  font-size: 2.5em;
  color: white;
  margin: 0;
}

.nombre-escuela {
  font-size: 1.2em;
  color: white;
  margin: 0;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
.nomprim{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

}
.page-header {
  background-color: #fbfbfb; /* Guinda oscuro */
  color: rgb(158, 158, 158);
  padding: 70px 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}



.title-mi{
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #f0f0f0;
  left: 70%;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}
@media (max-width: 600px) {
  /* Estilos para el encabezado en pantallas pequeñas */
  .page-header {
    padding: 20px 15px; /* Reduce el espacio interno del encabezado */
    justify-content: center; /* Centra los logos horizontalmente */
  }
}

.page-header img {
  height: 40px; /* Tamaño del logo */
  margin-right: 20px;
}

.login-container {
  background-color: #ffffff;
  border-radius: 22px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 50px;
  max-width: 350px;
  margin: 50px auto;
  text-align: center;
 
 
}

h2 {
  font-size: 28px;
  color: #a57f2c;
  margin-bottom: 30px;
  font-family:sans-serif;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 16px;
  color: #585757;
  margin-bottom: 5px;
  font-family: sans-serif;
  
 
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #e2e2e2;
  border-radius: 10px !important;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  background-color: #4a1e1e;
  color: white;
  padding: 15px 0;
  border: none;
  border-radius: 10px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #7b1d3d;
}
