body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.page-header {
  background-color: #fefefe; /* Guinda oscuro */
  color: white;
  padding: 70px 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
.title{
  background-color: #3a0b1e; 
  color: #ffffff;
  padding: 30px 50px;
  box-shadow: 0 4px 15px rgba(95, 95, 95, 0.1);
  font-size:20px;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}
.img-title{
  margin-right: 100%;
}
.title-mi{
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #f0f0f0;
  left: 70%;
}
td{
  padding-left: 30px;
  padding-right: 50px;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 600px) {
  /* Estilos para el encabezado en pantallas pequeñas */
  .page-header {
    padding: 20px 15px; /* Reduce el espacio interno del encabezado */
    justify-content: center; /* Centra los logos horizontalmente */
  }
}

.page-header img {
  height: 40px; /* Tamaño del logo */
  margin-right: 20px;
}

.login-container {
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 320px;
  margin: 50px auto;
  text-align: center;
  height: 400px;
  
}

h2 {
  font-size: 28px;
  color: #a57f2c;
  margin-bottom: 30px;
  font-family:sans-serif;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 16px;
  color: #585757;
  margin-bottom: 5px;
  font-family: sans-serif;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  background-color: #4a1e1e;
  color: white;
  padding: 15px 0;
  border: none;
  border-radius: 10px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #7b1d3d;
}

@media (max-width: 600px) {
  /* Estilos para el encabezado en pantallas pequeñas */
  .page-header {
    padding: 20px 15px; /* Reduce el padding del encabezado */
    justify-content: center; /* Centra los logos horizontalmente */
  }

  /* Estilos para el contenedor del formulario */
  .login-container {
    margin: 30px 15px; /* Reduce los márgenes para que no se salga de la pantalla */
    padding: 25px; /* Reduce el padding interno */
  }

  /* Ajustes de tamaño de fuente para legibilidad */
  h2 {
    font-size: 24px;
  }

  .input-group label,
  input,
  button {
    font-size: 16px; /* Asegura que la fuente sea legible en móviles */
  }
}