.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.title-white {
  color: white !important;
}
.text-vino {
  color: #530909 !important; /* tono vino oscuro */
}

