<div *ngIf="alumse" class="inscripcion-bar">
  <div class="rigth-section">
    <strong>Ciclo Escolar:</strong> {{ alumse.ciclo }} |
    <strong>Grado:</strong> {{ alumse.nombreGrado }} |
    <strong>Grupo:</strong> {{ alumse.nombreGrupo }}
  </div>
</div>

<div *ngIf="materias && materias.length > 0; else cargando" class="container mt-3">
  <div class="row g-3">
    <div class="col-6 col-md-4 col-lg-3" *ngFor="let mat of materias">
      <div 
        class="card shadow-sm border-0 h-100 text-center" 
        [ngClass]="mat.calificacionActual < 6 
          ? ['bg-danger', 'text-white'] 
          : ['bg-white', 'text-dark']"
      >
        <div class="card-body">
          <h5 
            class="card-title fw-bold mb-3"
            [ngClass]="mat.calificacionActual < 6 ? 'text-white' : 'text-vino'"
          >
            {{ mat.nombreMateria }}
          </h5>
          <p class="card-text mb-1">
            <strong>Calificación:</strong> {{ mat.calificacionActual }}
          </p>
          <p class="card-text mb-1">
            <strong>Campo Formativo:</strong> {{ mat.nombreMateria }}
          </p>
          <p class="card-text">
            <strong>Grado:</strong> {{ mat.nombreGrado }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Cargando -->
<ng-template #cargando>
  <app-loading></app-loading>
</ng-template>
