.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.title-white {
  color: white !important;
}
.text-vino {
  color: #530909 !important; /* tono vino oscuro */
}
.inscripcion-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6e8; /* tono similar al de la imagen */
  color: #3b0b0b; /* vino oscuro */
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-size: 0.95rem;
}

.left-section {
  font-weight: 500;
}

.right-section {
  font-weight: 600;
}

@media (max-width: 768px) {
  .inscripcion-bar {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .right-section {
    align-self: flex-end;
  }
}

